<div class="jumbotron">
  <div class="container">
    <div class="j1">About Us</div>
  </div>
</div>
<div class="container">
  <div class="sec1">
    <div class="m2">Our Vision</div>
    <div class="s2">
      Learnspace's vision is to provide world quality personalised education at a affordable price.
    </div>
  </div>

  <div class="sec1">
    <div class="m2">Our History</div>
    <div class="s2">
      Learnspace was started in 2015 by two Victoria University graduates.
    </div>
  </div>
  
  <div class="sec1">
    <div class="m2">Personalised Education</div>
    <div class="s2">
      One on One teaching. 
    </div>
  </div>
</div>
