
.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: brightness(60%);
    transition: brightness .5s;
  }
  
  .card-img-top:hover {
    filter: brightness(100%);
  }
  
  @media (max-width: 576px) {
    .card-img-top {
      width: 100%;  
      height: auto;
      max-height: 100px;
      object-fit: cover;
    }
  }
  
  .card {
    transition: all .3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  