<div style="background-color:#212121;" class="modal-footer footer-div">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>Learnspace</h5>
        <p class="footer_list"><a href="#" routerLink="/app/about">About us</a></p>
        <p class="footer_list"><a href="#" routerLink="/app/contact">Contact us</a></p>
        <p class="footer_list"><a href="#" routerLink="/app/terms">Terms</a></p>
        <!-- <p class="footer_list"><a href="#" routerLink="/app/blog">Blog</a></p>
        <p class="footer_list"><a href="#" routerLink="/app/investor">Investor</a></p> -->
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Support</h5>
        <p class="footer_list"><a href="#" routerLink="/app/howitworks">How it Works</a></p>
        <p class="footer_list"><a href="#" routerLink="/app/privacy">Privacy</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Work</h5>
        <p><a href="/work" routerLink="/work">Apply To Teach</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <p><a href="https://www.facebook.com/LearnspaceNZ/"><i class="fa fa-facebook-f"></i> Facebook</a></p>
        <br>
        <p><small> &copy;	Learnspace 2018</small></p>
        <p><small>Proprius Ltd, Wellington &copy;	 2018</small></p>
      </div>
    </div>
  </div>
</div>
