<div class="container">
  <div class="fillblank">
    <h4>Fill in the Blank  Questions</h4>
    <div *ngIf="accessType == 'display' || accessType == 'overview'">
        <app-fill-blank
        [viewerType]="viewerType"
        [accessType]="accessType"
        [questionInfo]="questionArray"
        ></app-fill-blank>

    </div>

    <div *ngIf="accessType == 'modify'">
      <div *ngFor="let quiz of questionArray">
        <div *ngIf="quiz.questionSaveStatus == 'saved'">
          <app-fill-blank
          [viewerType]="viewerType"
          [accessType]="accessType"
          [questionStatus]="'saved'"
          [questionInfo]="quiz"
          (collectFormValue)='handleSaveQuestion($event)'
          (editQuiz)='handleEditQuestion($event)'
          (deleteQuiz)='handleDeleteQuestion($event)'
          (discardQuiz)='handleDiscardQuestion($event)'
          (upQuestion)='handleQuestionChangePosUp($event)'
          (downQuestion)='handleQuestionChangePosDown($event)'
          ></app-fill-blank>
        </div>
        <div *ngIf="quiz.questionSaveStatus == 'init'">
          <app-fill-blank
          [viewerType]="viewerType"
          [accessType]="accessType"
          [questionStatus]="'init'"
          [questionId]="questionArray.length"
          [createQuizObj]="getQuestionObj"
          (collectFormValue)='handleSaveQuestion($event)'
          (discardQuiz)='handleDiscardQuestion($event)'
          ></app-fill-blank>
        </div>
        <div *ngIf="quiz.questionSaveStatus == 'unSaved'">
          <app-fill-blank
          [viewerType]="viewerType"
          [accessType]="accessType"
          [questionStatus]="'saved'"
          [questionInfo]="quiz"
          [createQuizObj]="getQuestionObj"
          (collectFormValue)='handleSaveQuestion($event)'
          (discardQuiz)='handleDiscardQuestion($event)'
          ></app-fill-blank>
        </div>
      </div>
      <div *ngIf="questionArray.length == 0">
        <app-fill-blank
        [viewerType]="viewerType"
        [accessType]="accessType"
        [questionStatus]="'init'"
        [questionId]="1"
        [createQuizObj]="getQuestionObj"
        (collectFormValue)='handleSaveQuestion($event)'
        (discardQuiz)='handleDiscardQuestion($event)'
        ></app-fill-blank>
      </div>
      <br>
      <div class="add-btn-div">
        <button *ngIf="!displayAddQuizBtn()" type="button" mat-button color="primary" class="add-btn" (click)="addQuestion()">
          <i class="material-icons">add_box</i>Add Question
        </button>
      </div>


    </div>
  </div>
</div>
